@charset "UTF-8";

/* Base */
html {
	font-family: "Ropa Sans", sans-serif;
	font-size: 16px;
	line-height: 1.5;
}
body {
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	min-width: 960px;
}
.dummy {
	margin: 0 auto;
	max-width: 32em;
	padding: 6em 0;
}

/* GOTOP BTN */
.go-top {    
	width: 48px;
	height: 48px;
	display: none;
	position: fixed;
	bottom: 48px;
	right: 48px;
	text-align:center;
	color:#fff;
}
.go-top .fa {	
	width: 48px;
	height: 48px;
	background:#666;
	display:inline-block;
	line-height:48px;
}
.no-js .go-top {
	display: none;
}

